.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #002639;
  color: #ffffff;
  display: flex;
  align-items: center;
  z-index: 10;
  box-sizing: border-box;
  height: 3.6rem;

  h4 {
    font-size: 1rem;
    font-weight: 400;
    position: relative;
  };

  img {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
}
