.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #002639;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-sizing: border-box;
  height: 3.6rem;
  padding: 0 1.5rem;

  h4 {
    font-size: 1rem;
    font-weight: 400;
    position: relative;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100%;
    img {
      height: 100%;
      padding-right: 1rem;
    }
  }

  &__button {
    padding-right: 1rem;
    cursor: pointer;
    display: flex;
    svg {
      height: 30px;
      width: 30px;
      fill: #ffffff;
      &:hover {
        fill: #960b3b;
      }
    }
  }

  .github-link {
    svg {
      fill: #ffffff;
      height: 30px;
      width: 30px;
      &:hover {
        fill: #960b3b;
      }
    }
  }

  &--sidebar-active {
    + .sidebar {
      transform: translateX(0) !important;
    }
  }

  @media (min-width: 768px) {
    &__button {
      display: none;
    }
  }
}
